@using MSistema.Models;
@model List<CajaReciboCLS>

@{
    ViewBag.Title = "Index";
}

<h2>Consulta Recibos de Caja</h2>
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "CajaRecibos", FormMethod.Get))
{

<div class="panel panel-default">
    <div class="panel-heading">
        Filtro de Busqueda
    </div>    
    <div class="panel-body">
        <div class="form-inline">

        @Html.Label("Documento")
        @Html.TextBox("caj_numero")
        @Html.Label("Intervalo de Fechas")
            <input name="txtFecha1" type="date" id="txtFecha1" class="form-control-sm">
            <input name="txtFecha2" type="date" id="txtFecha2" class="form-control-sm">
            </div>
        <div class="class=input-group-prepend">
            @Html.Label("Sucursal")
            <input name="txtFecha" type="date" id="txtFecha" class="form-control-sm">
        </div>
    </div>
</div>
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td><b>Documento</b></td>
                <td><b>Fecha </b></td>
                <td><b>Valor</b></td>
                <td><b>Cliente</b></td>
                <td><b>Nombre</b></td>
                <td><b>Concepto</b></td>
                <td><b>Cobrador</b></td>
                <td><b>Sucursal</b></td>
                <td><b>Usuario</b></td>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.caj_numero</td>
                    <td>@item.caj_fecha</td>
                    <td>@item.caj_valor</td>
                    <td>@item.caj_cliente</td>
                    <td>@item.caj_nombre</td>
                    <td>@item.caj_concept</td>
                    <td>@item.caj_cobrado</td>
                    <td>@item.caj_sucurs</td>
                    <td>@item.CAJ_USUARIO</td>
                    <td>
                        @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                        @Html.ActionLink("Anular", "Anular", new { @class="btn btn-xs btn-danger" })
                        @*  @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    </td>
                </tr>
            }
        </tbody>

    </table>
    }
<script type="text/javascript">
    $(function ()
    {
        $('.date-picker').datepicker({ dateFormat: 'dd-mm-yy' });
    })

</script>